*
    margin: 0
    padding: 0
    font-size: 16px
    font-family: 'Gilroy'
    box-sizing: border-box
    font-family: Gilroy

body
    background-color: #f7f7f7

.status
    text-decoration: line-through
    color: #bdbebd

.section
    display: flex
    justify-content: center
    margin-right: 70px
